body
  margin: 0
  padding: 0
  background-color: #EEEEEE

// SASS about navbar

#navbar
  background-color: #1F2022

#burgerMenu
  display: none

#listNavbar
  display: flex
  flex-direction: row
  align-items: center
  margin: 0
  padding: 0

.elementList
  list-style: none
  display: block
  font-family: 'Josefin Sans', sans-serif
  font-weight: 700
  font-size: 18px
  line-height: 18px

.elementList:first-of-type
  margin: 0 auto 0 80px
  font-size: 24px
  line-height: 24px

.elementList:last-of-type
  margin: 25px 80px 25px auto
  padding: 16px
  border-radius: 3px
  background-color: #EEEEEE
  transition: box-shadow ease-in-out 0.3s, background-color ease-in-out 0.3s, color 0.3s ease-in-out
  .elementLink
    color: #000000

.elementList:last-of-type:hover
  cursor: pointer
  box-shadow: inset 0 0 0 1px #EEEEEE
  background-color: transparent
  transition: box-shadow ease-in-out 0.3s, background-color ease-in-out 0.3s, color 0.3s ease-in-out
  .elementLink
    color: #EEEEEE

.elementList:nth-of-type(5) .elementLink
  color: #00ADB5

.elementList:nth-of-type(n+2):nth-of-type(-n+4)
  margin-right: 20px

.elementList:nth-of-type(n+3):nth-of-type(-n+5)
  margin-left: 20px

.elementList:nth-of-type(n+2):nth-of-type(-n+5)
  .elementLink
    display: inline-block
    position: relative

.elementList:nth-of-type(n+2):nth-of-type(-n+5)
  .elementLink::after
    content: ''
    position: absolute
    width: 100%
    transform: scaleX(0)
    height: 2px
    bottom: 0
    left: 0
    background-color: #00ADB5
    transform-origin: bottom right
    transition: transform 0.3s ease-out

.elementList:nth-of-type(n+2):nth-of-type(-n+5)
  .elementLink:hover::after
    transform: scaleX(1)
    transform-origin: bottom left

.elementLink
  text-decoration: none
  color: #EEEEEE

@media screen and (max-width: 1000px)

  .elementList:nth-of-type(n+2)
    display: none

  #burgerMenu
    background-color: transparent
    border: none
    cursor: pointer
    display: flex
    padding: 0

  .burgerMenuLines
    fill: none
    stroke: #EEEEEE
    stroke-width: 6
    transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1), stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1), color ease-in-out 600ms

  .burgerMenuLines:first-of-type
    stroke-dasharray: 60 207
    stroke-width: 6

  .burgerMenuLines:nth-of-type(2)
    stroke-dasharray: 60 60
    stroke-width: 6

  .burgerMenuLines:last-of-type
    stroke-dasharray: 60 207
    stroke-width: 6

  .opened .burgerMenuLines
    stroke: red

  .opened .burgerMenuLines:first-of-type
    stroke-dasharray: 90 207
    stroke-dashoffset: -134
    stroke-width: 6

  .opened .burgerMenuLines:nth-of-type(2)
    stroke-dasharray: 1 60
    stroke-dashoffset: -30
    stroke-width: 6

  .opened .burgerMenuLines:last-of-type
    stroke-dasharray: 90 207
    stroke-dashoffset: -134
    stroke-width: 6

  #navbar
    display: flex
    flex-direction: row
    justify-content: space-between
    padding: 30px 80px 30px 80px

// SASS about footer

#footer
  width: 100%
  background-color: #1F2022
  padding: 30px 0 30px 0
  display: flex
  justify-content: center
  align-items: center
  flex-direction: column

#listFooter
  display: flex
  flex-direction: row
  margin: 0
  padding: 0
  width: 100%
  max-width: 1920px
  justify-content: space-around

#dividerFooter
  width: 80%
  height: 1px
  background-color: #EEEEEE
  border-radius: 1px
  margin-bottom: 50px

.elementListFooter
  list-style: none
  display: flex
  flex-direction: column
  height: 100px
  justify-content: space-around

.elementLinkFooter
  text-decoration: none
  line-height: 18px
  font-size: 18px
  font-family: "Josefin Sans", sans-serif
  font-weight: 700
  color: #EEEEEE

.dividersFooter
  width: 100%
  height: 1px
  background-color: #EEEEEE
  border-radius: 1px

.elementLinkFooter:hover
  -webkit-mask-image: linear-gradient(-75deg, rgba(0,0,0,.6) 30%, #000 50%, rgba(0,0,0,.6) 70%)
  -webkit-mask-size: 200%
  animation: shine 1s infinite

@-webkit-keyframes shine
  from
    -webkit-mask-position: 150%
  to
    -webkit-mask-position: -50%

// SASS about content

#content
  background-color: #1F2022

.cards-projects
  display: flex
  justify-content: center
  align-items: center
  flex-wrap: wrap
  padding: 40px 0

.box-projects
  position: relative
  width: 320px
  height: 400px
  display: flex
  justify-content: center
  align-items: center
  margin: 40px 30px
  transition: 0.5s

.box-projects::before
  content: ' '
  position: absolute
  top: 0
  left: 50px
  width: 50%
  height: 100%
  text-decoration: none
  background: #EEEEEE
  border-radius: 8px
  transform: skewX(15deg)
  transition: 0.5s

.box-projects::after
  content: ''
  position: absolute
  top: 0
  left: 50px
  width: 50%
  height: 100%
  background: #EEEEEE
  border-radius: 8px
  transform: skewX(15deg)
  transition: 0.5s
  filter: blur(30px)

.box-projects:hover:before, .box-projects:hover:after
  transform: skewX(0deg)
  left: 20px
  width: calc(100% - 90px)

.box-projects:nth-child(1):before, .box-projects:nth-child(1):after
  background: #0055A4

.box-projects:nth-child(2):before, .box-projects:nth-child(2):after
  background: #ffffff

.box-projects:nth-child(3):before, .box-projects:nth-child(3):after
  background: #EF4135

.box-projects span
  display: block
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0
  z-index: 5
  pointer-events: none

.box-projects span::before
  content: ''
  position: absolute
  top: 0
  left: 0
  width: 0
  height: 0
  border-radius: 8px
  background: rgba(255,255,255,0.1)
  backdrop-filter: blur(10px)
  opacity: 0
  transition: 0.1s
  animation: animate 2s ease-in-out infinite
  box-shadow: 0 5px 15px rgba(0,0,0,0.08)

.box-projects:hover span::before
  top: -50px
  left: 50px
  width: 100px
  height: 100px
  opacity: 1

.box-projects span::after
  content: ''
  position: absolute
  bottom: 0
  right: 0
  width: 100%
  height: 100%
  border-radius: 8px
  background: rgba(255, 255, 255, 0.1)
  backdrop-filter: blur(10px)
  opacity: 0
  transition: 0.5s
  animation: animate 2s ease-in-out infinite
  box-shadow: 0 5px 15px rgba(0,0,0,0.08)
  animation-delay: -1s

.box-projects:hover span:after
  bottom: -50px
  right: 50px
  width: 100px
  height: 100px
  opacity: 1

@keyframes animate
  0%, 100%
    transform: translateY(10px)
  50%
    transform: translate(-10px)

.content-card-project
  position: relative
  left: 0
  padding: 20px 40px
  background: rgba(255,255,255,0.05)
  backdrop-filter: blur(10px)
  box-shadow: 0 5px 15px rgba(0,0,0,0.1)
  border-radius: 8px
  z-index: 1
  color: black

.box-projects:hover .content-card-project
  left: -25px
  padding: 60px 40px

.content-card-project p
  font-family: "Josefin Sans", sans-serif
  font-size: 16px
  line-height: 16px

.content-card-project h2
  font-family: "Josefin Sans", sans-serif
  font-size: 24px
  line-height: 24px
  font-weight: 700

.content-card-project a
  display: inline-block
  font-size: 18px
  line-height: 18px
  font-family: "Josefin Sans", sans-serif
  color: black
  background: #EEEEEE
  padding: 10px
  border-radius: 4px
  text-decoration: none
  font-weight: 700
  margin-top: 5px

.content-card-project a:hover
  background-color: #1F2022
  box-shadow: inset 0 0 0 1px #EEEEEE
  color: #EEEEEE