html {
  aspect-ratio: 16/9;
  max-width: 1920px;
  background-color: #1F2022;
  margin-right: auto;
  margin-left: auto;
}

body {
  margin: 0;
  padding: 0;
  background-color: #EEEEEE;
  overflow: hidden;
}

.elementList:nth-of-type(3) .elementLink {
  color: #00ADB5;
}

#WorkExperiencesTitle {
  font-size: 24px;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;
  line-height: 32px;
  color: #EEEEEE;
  width: 100%;
  text-align: center;
  margin: 0;
  padding: 20px 0 20px;
}

#content {
  background-color: #1F2022;
}

#timeline {
  display: flex;
  background-color: #031625;
}
#timeline:hover .tl-item {
  width: 40%;
}

.tl-item {
  transform: translate3d(0, 0, 0);
  position: relative;
  width: 50%;
  height: calc(100vh - 164px);
  min-height: 600px;
  color: #EEEEEE;
  overflow: hidden;
  transition: width 0.5s ease;
}
.tl-item:before, .tl-item:after {
  transform: translate3d(0, 0, 0);
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.tl-item:after {
  background: rgba(31, 32, 34, 0.6);
  opacity: 1;
  transition: opacity 0.5s ease;
}
.tl-item:before {
  background: linear-gradient(to bottom, rgba(31, 32, 34, 0) 0%, rgb(31, 32, 34) 75%);
  z-index: 1;
  opacity: 0;
  transform: translate3d(0, 0, 0) translateY(50%);
  transition: opacity 0.5s ease, transform 0.5s ease;
}
.tl-item:hover {
  width: 60% !important;
  cursor: pointer;
}
.tl-item:hover:after {
  opacity: 0;
}
.tl-item:hover:before {
  opacity: 1;
  transform: translate3d(0, 0, 0) translateY(0);
  transition: opacity 1s ease, transform 1s ease 0.25s;
}
.tl-item:hover .tl-content {
  opacity: 1;
  transform: translateY(0);
  transition: all 0.75s ease 0.5s;
}
.tl-item:hover .tl-bg {
  filter: grayscale(0);
}

.tl-content {
  transform: translate3d(0, 0, 0) translateY(25px);
  position: relative;
  z-index: 1;
  text-align: center;
  margin: 0 1.618em;
  top: 55%;
  opacity: 0;
}
.tl-content h2 {
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
  color: #00ADB5;
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
}
.tl-content p {
  font-family: "Josefin Sans", sans-serif;
  color: #EEEEEE;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  margin-bottom: 30px;
}
.tl-content a {
  text-decoration: none;
  color: black;
  background-color: #EEEEEE;
  border-radius: 3px;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  padding: 16px;
  transition: box-shadow 0.3s ease-in-out, background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}
.tl-content a:hover {
  color: #EEEEEE;
  background-color: #1F2022;
  box-shadow: 0 0 0 1px inset #EEEEEE;
  transition: box-shadow 0.3s ease-in-out, background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.tl-year {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: 1;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
}
.tl-year p {
  font-family: "Josefin Sans", sans-serif;
  font-size: 24px;
  line-height: 24px;
  color: #EEEEEE;
}

.tl-bg {
  transform: translate3d(0, 0, 0);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: center center;
  transition: filter 0.5s ease;
  filter: grayscale(100%);
}

@media screen and (max-width: 1000px) {
  #timeline {
    flex-direction: column;
  }
  #timeline:hover .tl-item {
    width: 100% !important;
  }
  .tl-item {
    width: 100%;
  }
}
#military-reserve {
  padding: 0 100px 100px 100px;
}

#military-reserve h2, #Stellantis h2 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  color: #EEEEEE;
  text-align: center;
  margin: 0;
  padding: 10px 0 10px 0;
}

#military-reserve h3, #Stellantis h3 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  margin: 30px 0 30px 0;
  color: #EEEEEE;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-around;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(238, 238, 238, 0.8);
  background-color: #EEEEEE;
  margin: 30px;
  max-width: 300px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  transition: box-shadow 0.3s ease-in-out;
}

.card * {
  margin: 10px !important;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(238, 238, 238, 0.8);
  cursor: pointer;
  transition: box-shadow 0.3s ease-in-out;
}

.card img {
  height: 200px;
}

.card h4 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 33px;
  margin: 0;
}

.card p {
  font-size: 20px;
  line-height: 25px;
  font-family: "Josefin Sans", sans-serif;
  margin: 0;
}

.card span {
  height: 1px;
  background-color: #1F2022;
  width: 80%;
}

#Stellantis {
  padding: 100px;
}

#Stellantis * {
  position: relative;
}

.color {
  color: #00ADB5;
}

.acronym, .hierarchy {
  font-family: "Josefin Sans", sans-serif;
  color: #EEEEEE;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
}

.hierarchy {
  padding: 0 10px 0 10px;
}

.tab {
  display: none;
}

#ICT {
  display: flex;
}

#ICTB {
  background-color: #EEEEEE;
}

.tabNavigation {
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid #EEEEEE;
  border-bottom: 1px solid #EEEEEE;
  width: 100%;
  flex-wrap: wrap;
}

.tabButton {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #00ADB5;
  font-family: "Josefin Sans", sans-serif;
  font-size: 20px;
  line-height: 20px;
  padding: 20px;
  transition: 0.3s ease-in-out background-color;
}

.tabButton:hover {
  background-color: #EEEEEE;
  transition: 0.3s ease-in-out background-color;
}

#workAssignment {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 15% 0 15%;
}

.tab {
  flex-direction: column;
  width: 100%;
}

#Stellantis p {
  font-family: "Josefin Sans", sans-serif;
  color: #EEEEEE;
  font-size: 16px;
  line-height: 24px;
}

#downloadDissertation {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#downloadDissertationB, #selectYear {
  margin: 10px;
  padding: 10px;
  background-color: transparent;
  border: 1px solid #EEEEEE;
  border-radius: 10px;
  color: #EEEEEE;
  font-family: "Josefin Sans", sans-serif;
  line-height: 18px;
  font-size: 18px;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  cursor: pointer;
  text-decoration: none;
  align-items: center;
  display: flex;
}

#selectYear option {
  background-color: #3C3F41;
}

#downloadDissertationB:hover {
  background-color: #EEEEEE;
  color: #1F2022;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

@media screen and (max-width: 1000px) {
  #workAssignment {
    padding: 0;
  }
}
#preloader {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  background-color: #1F2022;
}

.loader {
  border: 16px solid #EEEEEE;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*# sourceMappingURL=workExperience.css.map */
